/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}


h3 {
   color:#02a2d8;
   
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*Titres du tableau*/
#titreTableauHome {
    background-color:#02a2d8;
}
#titreTableauHome > th {
    text-align:center; 
    cursor:pointer; 
    color:white;
}

#titreTableauOrdres {
    background-color:#02a2d8;
}
#titreTableauOrdres > th {
    text-align:center; 
    cursor:pointer; 
    color:white;
}

/*Corp tableau*/

#tableau  {
   
}
#tableHome {
    width:"100%"; 
    cellspacing:"0"; 
    text-align:center;
}
/*Compteur total*/
#totalCompte {
    font-family: Comics; 
    color:green; 
    font-size: 1.5em;
}

/*Graphs haut du tableau*/
.containerGraph {
    float:left;
    margin:0 auto;
}
.containerGraph img{
    width:200px;
    height: 200px; 
}

.pourcentGain {
    color: green;
}
.pourcentPerte {
    color: red;
}
.erreurData {
    color:red;
    font-family: Comics; 
    font-size: 1.5em; 

}

.orderBuy {
    color: green;
}
.orderSell {
    color: red;
}
.orderExchange {
}
.orderMargin { 
}
#tableHome_filter label {
    float: right;
}